
.container {
    width: 90%;
    max-width: 1200px;
    margin: 20px auto;
    padding: 20px;
    background: #272a36; /* Fundo cinza escuro com um leve tom azulado */
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.5);
}

.title {
    font-family: 'Orbitron', sans-serif;
    border-bottom: 2px solid #EFEFF1;
    margin-bottom: 10px;
    color: #EFEFF1; /* Cor mais clara */
    text-decoration: none;
    letter-spacing: 1px;
}

.subtitle {
    font-size: 1.5rem;
    margin-top: 20px;
    margin-bottom: 10px;
    border-bottom: 2px solid #EFEFF1; /* Linha de subtítulo em roxo suave */
    padding-bottom: 10px;
    color: #EFEFF1;
}

.description {
    font-size: 1rem;
    line-height: 1.6;
    color: #b0b0b0; /* Cor da descrição um pouco mais clara */
}

/* Listas de Regras, Componentes e Passos */
.rules-list, .components-list, .gameplay-steps, .end-conditions {
    list-style-type: none;
    padding: 0;
}

.rules-list li, .components-list li, .gameplay-steps li, .end-conditions li {
    margin-bottom: 10px;
}

/* Estilo dos Dados */
.dice-wrapper {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.dice {
    display: inline-block;
    width: 40px;
    height: 40px;
    border: 1px solid #5C6FCF;
    background: #1F1F2E; /* Azul vibrante para os dados */
    text-align: center;
    line-height: 40px;
    border-radius: 8px;
    font-size: 1rem;
    color: #EFEFF1;
}

#back-button {
    display: block;
    margin-top: 20px;
    padding: 10px;
    border: 1px solid #5C6FCF;
    background: #1F1F2E; /* Azul vibrante para os dados *//* Botão com fundo azul escuro */
    color: #fff;
    text-decoration: none;
    text-align: center;
    border-radius: 8px;
}

#back-button:hover {
    background: #5a89f5; /* Fundo do botão mais claro ao passar o mouse */
}
