
/*
#020617
#0f172a
#1e293b
#334155
#475569
#64748b
#94a3b8
#cbd5e1
#e2e8f0
#f1f5f9
#f8fafc
*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Afacad Flux", sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    font-family: "Afacad Flux", sans-serif;
    background-color: #020617;
    color: #f8fafc;
    margin: 0;
    padding: 0;
    height: 100vh;
    overflow: hidden;
    margin: 0;
    position: relative;
}

.title {
    color: #f8fafc; 
    text-decoration: none;
    letter-spacing: 1px;
}

.menu {
    width: 100%;
    background: #0f172a; 
    display: flex;
    justify-content: space-between; /* Espaçar o menu toggle e os links */
    align-items: center;
    padding: 4px 8px;
    position: fixed;
    bottom: 0;
    left: 0;
}

.menu-links {
    display: none; /* Ocultar o menu por padrão */
    flex-direction: column; /* Colocar os itens do menu em coluna */
    position: absolute; 
    bottom: 50px; 
    right: 0; 
    background: #0f172a; 
    z-index: 1000; 
    width: 100%; 
}

.menu-links.active {
    display: flex; /* Mostrar o menu quando ativo */
}

.menu-link {
    width: 100%; /* Para garantir que o link ocupe toda a largura do menu */
    display: flex; /* Usar flexbox para o botão e texto */
    justify-content: flex-start; /* Alinhar conteúdo à esquerda */
    align-items: center; /* Centralizar verticalmente */
    padding: 12px;
    color: #f8fafc; /* Cor do texto */
    text-decoration: none; /* Remover sublinhado */
    border-bottom: 1px solid rgba(255, 255, 255, 0.2); 
    transition: background 0.3s;
    font-size: 16px; /* Tamanho da fonte */
    font-weight: 500; /* Peso da fonte */
}
.menu-link:hover {
    background: rgba(255, 255, 255, 0.1); /* Fundo ao passar o mouse */
}


.menu-link button {
    background: none; /* Remover fundo do botão */
    border: none; /* Remover borda do botão */
    color: inherit; /* Herda a cor do texto */
    cursor: pointer; /* Mudar o cursor ao passar o mouse */
    width: 100%; /* Ocupa toda a largura */
    display: flex; /* Para alinhar o ícone e o texto */
    align-items: center; /* Centralizar verticalmente */
    justify-content: flex-start; /* Alinhar o texto à esquerda */
    
}

.menu-link button:hover {
    background: rgba(255, 255, 255, 0.1); /* Fundo ao passar o mouse no botão */
}

.menu-link:last-child {
    border-bottom: none; /* Remove a borda do último item */
}

.menu-link i {
    margin-right: 10px; /* Espaçamento entre o ícone e o texto */
    font-size: 20px;
}


.menu-toggle {
    margin-left: auto; 
    cursor: pointer; 
}

.menu-toggle i {
    font-size: 24px; 
    color: #f8fafc; 
}

.logo a {
    font-family: 'Orbitron', sans-serif;
    font-size: 28px;
    font-weight: 700;
    color: #f8fafc; 
    text-decoration: none;
    letter-spacing: 1px;
}

.logo a:hover {
    color: #e2e8f0; 
}


#google-sign-in-button img {
    width: 24px;
    height: 16px;
    object-fit: contain;
    vertical-align: middle;
}

.info-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    padding: 4px 0;
    border-radius: 8px;
    margin-bottom: 4px;
}

.info-item {
    display: flex;
    align-items: center;
    font-size: 1.2em;
    padding: 0.4em;
    color: #f8fafc;
    flex: 1 1 20%;
    box-sizing: border-box;
}

.info-item .fa-icon {
    margin-right: 8px;
    font-size: 24px;
    color: #f8fafc;
}

.donate-container {
    text-align: center;
}

#donate-button {
    background-color: #f8fafc;
    color: #0f172a;
    border: none;
    padding: 8px 16px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 4px;
    transition: background-color 0.3s, transform 0.3s;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
}

#donate-button:hover {
    background-color: #45a049;
    transform: scale(1.04);
}

#donate-button:active {
    background-color: #3e8e41;
    transform: scale(1);
}

#pix-message {
    color: #f8fafc;
    margin-top: 8px;
    font-size: 16px;
    display: none;
}

#google-sign-in-button,
#google-sign-out-button {
    background-color: #f8fafc; 
    color: #f8fafc;
    border: none;
    padding: 8px 8px;
    font-size: 14px;
    border-radius: 2px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#google-sign-in-button:hover,
#google-sign-out-button:hover {
    background-color: #357AE8; 
}

#google-sign-in-button:focus,
#google-sign-out-button:focus {
    outline: none;
    box-shadow: 0 0 4px #357AE8;
}

#google-sign-out-button {
    background-color: #DB4437; 
}

#google-sign-out-button:hover {
    background-color: #C23321; 
}
