/* Resetting default styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    margin: 0;
    padding: 0;
    height: 100vh; /* Garante que o corpo tenha 100% da altura da viewport */
    justify-content: flex-start;
    background-color: #000;
    /* background-image: linear-gradient(rgba(30, 58, 120, 0.50), rgba(30, 58, 120, 0.50)), url('images/bg.jpeg'); */
    background-size: cover; /* Faz com que a imagem ocupe todo o espaço sem distorcer */
    background-position: center; /* Centraliza a imagem no centro da tela */
    background-repeat: no-repeat; /* Impede que a imagem se repita */
    background-attachment: fixed; /* Mantém o fundo fixo ao rolar a página */
    font-family: 'Roboto', sans-serif;
    overflow: hidden;
    margin: 0;
    position: relative; /* Necessário para o pseudoelemento */
}


.container {
    text-align: center;
    background: rgba(40, 40, 40, 0.9);
    padding: 4px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    margin-bottom: 4px;
    width: 100%;
    max-width: 940px; /* Ajuste a largura máxima do container */
}
/* Menu Styles */
.menu {
    width: 100%;
    background: #070707;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 4px 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    position: fixed; /* Fixa o menu na tela */
    bottom: 0; /* Alinha o menu ao fundo do navegador */
    left: 0; /* Garante que ele comece no início da tela */
}
.logo a {
    font-family: 'Orbitron', sans-serif; /* Aplica a nova fonte */
    font-size: 28px; /* Ajusta o tamanho da fonte */
    font-weight: 700; /* Deixa a fonte mais forte */
    color: #fff; /* Cor do texto */
    text-decoration: none; /* Remove o sublinhado */
    letter-spacing: 1px; /* Dá um espaçamento suave entre as letras */
}
.logo a:hover {
    color: #f0f0f0; /* Cor do texto ao passar o mouse */
}
.menu .menu-toggle {
    display: none;
    cursor: pointer;
    font-size: 1.4em;
    color: #fff;
}
.menu-links {
    display: flex;
    align-items: center;
    gap: 8px; /* Espaçamento entre os botões */
}

.menu-links a {
    display: inline-block;
    background-color: #fff; /* Cor de fundo */
    color: #2b2b2b;
    text-align: center;
    padding: 8px 16px;
    text-decoration: none;
    font-size: 16px;
    border-radius: 4px;
    transition: background-color 0.3s ease, transform 0.2s ease;
}

.menu-links a:hover {
    background-color: #45A049; /* Cor de fundo ao passar o mouse */
    transform: scale(1.04); /* Efeito de leve aumento ao passar o mouse */
}

.menu-links a:focus {
    outline: none;
    box-shadow: 0 0 4px #fff;
}

.menu-links a:active {
    background-color: #3E8E41; /* Cor de fundo ao clicar */
    transform: scale(0.80); /* Efeito de leve redução ao clicar */
}

#google-sign-in-button img {
    width: 24px;  /* Ajuste o tamanho conforme necessário */
    height: 24px; /* Ajuste o tamanho conforme necessário */
    object-fit: contain;  /* Garante que a imagem mantenha sua proporção */
    vertical-align: middle; /* Alinha verticalmente no centro */
}
/* @media (max-width: 768px) {
    .menu .menu-links {
        display: none;
        flex-direction: column;
        background: #2b2b2b;
        position: absolute;
        top: 56px;
        left: 0;
        width: 100%;
        text-align: center;
        padding: 8px 0;
        border-radius: 8px;
    }
    .menu .menu-links.active {
        display: flex;
    }
    .menu .menu-toggle {
        display: block;
    }
} */

.info-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    padding: 4px 0;
    background: #3b3b3b;    
    border-radius: 8px;
    margin-bottom: 4px;
}

.info-item {
    display: flex;
    align-items: center;
    font-size: 1.2em;
    padding: 0.4em;
    color: #e0e0e0;
    flex: 1 1 20%; /* Ajuste aqui */
    box-sizing: border-box;
}

/* @media (max-width: 768px) {
    .info-item {
        flex: 1 1 100%; 
    }
} 
*/

.info-item .fa-icon {
    margin-right: 8px;
    font-size: 24px;
    color: #fff;
}
.number-boxes {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 8px;
}
.number-box {
    width: 56px;
    height: 56px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid #333;
    border-radius: 8px;
    margin: 4px;
    font-size: 1.4em;
    background: rgba(40, 40, 40, 0.9);
    color: #f0f0f0;
}
.input-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top:16px;
    margin-bottom:16px; 
}

#result {
    margin-top: 8px;
    font-size: 1.2em;
    color: #fff;
}

.grid-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 960px;
    margin-bottom: 16px;
    border-radius: 8px;
    /* background: rgba(40, 40, 40, 0.9); */
    height: calc(100vh - 450px); /* Adjust the height calculation based on your content */
}
.grid {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(8, 1fr);
    gap: 4px;
    width: 95%;
    height: 95%;   
    aspect-ratio: 1;
}
.grid-item {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #444;
    border-radius: 4px;
    background: #333;
    font-size: 1rem;
    cursor: pointer;
    color: #f0f0f0;
    transition: background 0.3s, color 0.3s;
}
.grid-item button {
    width: 100%;
    height: 100%;
    border: 1px solid #444;
    border-radius: 4px;
    background: transparent;
    font-size: 1em;
    cursor: pointer;
    color: inherit;
}
.grid-item button:disabled {
    background: #444;
    border: 1px solid #444;
    border-radius: 4px;
    color: #666;
    cursor: not-allowed;
}
.grid-item button.authenticated {
    background: #fff;
    border: 1px solid #444;
    border-radius: 4px;
    color: #333;
}
#new-game-button {
    margin-top: 16px;
    margin-bottom: 16px;
    padding: 8px 16px;
    font-size: 1.2em;
    background: #fff;
    color: #000;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

#jump-button {
    margin-top: 16px;
    margin-bottom: 16px;
    padding: 8px 16px;
    font-size: 1.2em;
    background: #fff;
    color: #000;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

@media (max-width: 768px) {
    .info-item {
        font-size: 1.2em;
        padding: 0.4em;
    }
    .number-box {
        width: 48px;
        height: 48px;
        font-size: 1.2em;
    }
}

.donate-container {
    text-align: center;
}

#donate-button {
    background-color: #fff;
    color: #2b2b2b;
    border: none;
    padding: 8px 16px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 4px;
    transition: background-color 0.3s, transform 0.3s;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
}


#donate-button:hover {
    background-color: #45a049;
    transform: scale(1.04);
}

#donate-button:active {
    background-color: #3e8e41;
    transform: scale(1);
}

#pix-message {
    color: #fff;
    margin-top: 8px;
    font-size: 16px;
    display: none;
}

#google-sign-in-button,
#google-sign-out-button {
    background-color: #4285F4; /* Cor do Google */
    color: white;
    border: none;
    padding: 8px 16px;
    font-size: 16px;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#google-sign-in-button:hover,
#google-sign-out-button:hover {
    background-color: #357AE8; /* Cor mais escura ao passar o mouse */
}

#google-sign-in-button:focus,
#google-sign-out-button:focus {
    outline: none;
    box-shadow: 0 0 4px #357AE8;
}

#google-sign-out-button {
    background-color: #DB4437; /* Cor do Google para logout */
}

#google-sign-out-button:hover {
    background-color: #C23321; /* Cor mais escura para o botão de logout ao passar o mouse */
}





@keyframes shake {
    0% { transform: translate(0, 0); }
    25% { transform: translate(-5px, 0); }
    50% { transform: translate(5px, 0); }
    75% { transform: translate(-5px, 0); }
    100% { transform: translate(0, 0); }
}

.shake {
    animation: shake 0.5s;
}
/* .fa-icon {
    font-size: 50px;
    color: red;
    margin-top: 20px;
} */

  /* Definindo a animação */
  @keyframes correctAnswer {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.1);
    }
    100% {
        transform: scale(1);
    }
}

/* Aplicando a animação ao elemento */
/* .correct {
    display: inline-block;
    padding: 10px 20px;
    border: 2px solid #28a745;
    font-size: 20px;
    font-weight: bold;
    color: #28a745;
    border-radius: 8px;
    cursor: pointer;
} */

/* Quando o elemento recebe a classe 'animate', ele inicia a animação */
.correct {
    animation: correctAnswer 0.6s ease-out;
    font-size: 30px;
    color: #fff;
}

#heartIcon {
    font-size: 30px;
    color: #ff4c4c;
}

#successIcon {
    font-size: 30px;
    color: #4caf50;
}

#heartIconHUD {
    font-size: 30px;
    color: #ff4c4c;
}

#successIconHUD {
    font-size: 30px;
    color: #4caf50;
}