
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Afacad Flux", sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    margin: 0;
    padding: 0;
    height: 100vh;
    background-color: #020617;
    overflow: hidden;
    margin: 0;
    position: relative;
}

.container {
    text-align: center;
    background: #0f172a;
    padding: 4px;
    border-radius: 8px;
    margin-bottom: 4px;
    width: 100%;
    max-width: 940px;
}

.title {
    text-decoration: none;
    letter-spacing: 1px;
}

.info-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    padding: 4px 0;
    border-radius: 8px;
    margin-bottom: 4px;
}
.info-item-section {
    display: flex;
    align-items: center;
    gap: 1rem; /* space-x-4 */
}

.info-item {
    display: flex;
    align-items: center;
    font-size: 1.2em;
    padding: 0.4em;
    color: #f8fafc;
    flex: 1 1 20%;
    box-sizing: border-box;
}

.info-item .fa-icon {
    margin-right: 8px;
    font-size: 24px;
    color: #f8fafc;
}


.number-boxes {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 8px;
}

.number-box {
    width: 56px;
    height: 56px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid #1e293b; 
    border-radius: 8px;
    margin: 4px;
    font-size: 1.4em;
    background: #020617;
    color: #e2e8f0;
}

.expression {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 4px;
    font-size: 2.0em;
    font-weight: 700;
    color: #84cc16;
}

.expression-before, .expression-after, .expression-middle-1, .expression-middle-2 {
    margin: 0 6px; /* Espaçamento ao redor das expressões */
}

.input-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin:4px;
}

#result, #game-over {
    margin-top: 8px;
    font-size: 1.2em;
    color: #f8fafc;
}

.grid-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 960px;
    margin-bottom: 16px;
    border-radius: 8px;
    height: calc(100vh - 450px);
}

.grid {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(8, 1fr);
    gap: 4px;
    width: 95%;
    height: 95%;
    background-color: #0f172a; 
    aspect-ratio: 1;
}

.grid-item {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #0f172a;  
    border-radius: 4px;
    background: #020617; 
    font-size: 1rem;
    cursor: pointer;
    color: #f8fafc;
    transition: background 0.3s, color 0.3s;
}

.grid-item button {
    width: 100%;
    height: 100%;
    border: 1px solid #334155;
    border-radius: 4px;
    background: transparent;
    font-size: 1em;
    cursor: pointer;
    color: inherit;
}

.grid-item button:disabled {
    background: #334155;
    border: 1px solid #475569;
    color: #475569;
}

.grid-item button:active {
    background: #475569;
    border: 1px solid #475569;
    color: #f8fafc;
}


.grid-item button.authenticated {
    background: #f8fafc;
    color: #0f172a;
}

#new-game-button, #jump-button {
    margin: 16px 0;
    padding: 8px 16px;
    font-size: 1.2em;
    background: #f8fafc;
    color: #0f172a;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
}

#new-game-button:hover, #jump-button:hover {
    background: #334155;
}

#new-game-button:active, #jump-button:active {
    background: #2E3A6F;
}

@keyframes shake {
    0% { transform: translate(0, 0); }
    25% { transform: translate(-5px, 0); }
    50% { transform: translate(5px, 0); }
    75% { transform: translate(-5px, 0); }
    100% { transform: translate(0, 0); }
}

.shake {
    animation: shake 0.5s;
}
.correct {
    animation: correctAnswer 0.6s ease-out;
    font-size: 30px;
    color: #f8fafc;
}

#heartIcon {
    font-size: 50px;
    color: #ff4c4c;
}

#successIcon {
    font-size: 50px;
    color: #4caf50;
}

.heartIconChoosed {
    font-size: 16px;
    color: #ff4c4c;
}

.successIconChoosed {
    font-size: 16px;
    color: #4caf50;
}

#heartIconHUD {
    font-size: 20px;
    color: #ff4c4c;
}

#successIconHUD {
    font-size: 20px;
    color: #4caf50;
}

#clockIcon, #hourglassIcon {
    font-size: 20px;
} 


#choices-list {
    border: 1px solid #0f172a;
    padding: 4px;
    width: 100%; /* Ajusta para preencher toda a largura disponível */
    margin: 4px;
    box-sizing: border-box; 
    text-align: left;
}

#choices-list ul {
    list-style-type: none;
    flex-direction: column;
    padding: 0;
    height: 80px; /* Set a fixed height for the scroll */
    overflow-y: scroll; /* Add vertical scroll */
}

/* Custom scrollbar for WebKit-based browsers (Chrome, Safari, Edge) */
#choices-list ul::-webkit-scrollbar {
    width: 8px; /* Width of the scrollbar */
}

/* The track (background) of the scrollbar */
#choices-list ul::-webkit-scrollbar-track {
    background: #0f172a; /* Light background color */
}

/* The thumb (scroll handle) of the scrollbar */
#choices-list ul::-webkit-scrollbar-thumb {
    background-color: #020617; /* Darker color for the scroll handle */
    border-radius: 10px; /* Rounded corners */
    border: 2px solid #0f172a; /* Border around the scroll handle */
}

/* On hover, change the thumb color */
#choices-list ul::-webkit-scrollbar-thumb:hover {
    background-color: #1e293b; /* Darker shade on hover */
}

.choice-item {
    margin-bottom: 5px;
}

.bottom-section {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 960px;
    margin-bottom: 4px;
    border-radius: 4px;
    height: calc(100vh - 700px);
  }

  .horizontal-split {
    display: flex;
    flex: 1;
  }

  .horizontal-split > div {
    flex: 1;
    padding: 4px;
  }

/*
#020617
#0f172a
#1e293b
#334155
#475569
#64748b
#94a3b8
#cbd5e1
#e2e8f0
#f1f5f9
#f8fafc
*/